@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-main: #f9dbbd;
  --accent-light: #ffa5ab;
  --accent-medium: #da627d;
  --accent-dark: #a53860;
  --accent-deep: #5d001e;
  --accent-black: #000000;
  --accent-white: #ffff;
}

html, body  {
  background-color: var(--bg-main);
  font-family: "Dosis", serif;
  font-size: 16px;
}

/* Container */
.container {
  display: grid;
  grid-template-rows: 60px auto auto auto auto auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "navbar"
    "header"
    "bestsellers"
    "testimonial"
    "bio"
    "footer";
  width: 100%;
  height: 100%;
}


/* Navbar */
.navbar {
  grid-area: navbar;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--accent-deep);
  width: 100%; 
  height: 60px;
  position: fixed;
  z-index: 1000;
  border-radius: 0px 0px 25px 25px;
  
}

.logo img {
  position: relative;
  width: 150px;
  height: auto;
  padding: 1rem;
  margin-left: 1rem;
}

.nav-links {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  padding: 1rem;
  font-size: 1.4rem;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: var(--bg-main);
  font-weight: bold;
  padding: 0.3rem;
  transition: color 0.3s ease;
}

.navbar .nav-links a:hover {
  color: var(--accent-light);
}

/* Hero Section */

.hero {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../imgs/hero-pic.jpg') no-repeat center center/cover;
  text-align: center;
  padding-top: 60px; /* Height of navbar */
  min-height: calc(100vh - 60px); /* Full screen minus navbar height */
}




/* Bestsellers Section */
#bestsellers {
  grid-area: bestsellers;
}

/* Testimonials Section */
#testimonial {
  grid-area: testimonial;
}
/* About Section */
#bio {
  grid-area: bio;
}
/* Footer */
footer {
  grid-area: footer;
}

/* Media Queries */

