/* General */

@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-main: #f9dbbd;
  --accent-light: #ffa5ab;
  --accent-medium: #da627d;
  --accent-dark: #a53860;
  --accent-deep: #5d001e;
  --accent-black: #000000;
  --accent-white: #ffff;
}

body {
  background-color: var(--bg-main);
  font-family: "Dosis", serif;
  font-size: 16px;
}

.container {
  display: grid;
  grid-template-areas:
    "navbar"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto auto;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: var(--accent-deep);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px;
  z-index: 1000;
}

.navbar .logo img {
  height: 40px;
}

.navbar nav {
  display: flex;
  gap: 15px;
}

.navbar .nav-links {
  display: flex;
  gap: 12px;
  padding: 1rem;
  font-size: 1.4rem;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: right;
  gap: 1.2rem;
  padding: 1rem;
  font-size: 1.4rem;
}

.navbar .nav-links li a {
  color: var(--bg-main);
  text-decoration: none;
  font-weight: 200;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 4px;
  transition: color 0.3s;
}

.navbar .nav-links li a:hover {
  color: var(--accent-light);
}

/* Main content */
main {
  grid-area: main;
  margin-top: 80px;
}

.hero {
  background: url("../imgs/hero-pic.jpg") no-repeat center center/cover;
  color: var(--accent-light);
  text-align: center;
  padding: 50px 20px;
}

.hero h1 {
  font-size: 2.5rem;
}

.hero .btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: transparent;
  color: var(--accent-light);
  text-decoration: none;
}

.hero .btn:hover {
  background-color: var(--accent-deep);
  border: 1px solid var(--accent-deep);
  border-radius: 5px;
}

.bestsellers,
.testimonial,
.bio {
  padding: 20px;
}

.bestsellers {
  text-align: center;
  background-color: var(--accent-dark);
  color: var(--accent-light);
  padding: 2rem;
}

.bestsellers h2 {
  padding: 20px;
  font-size: xx-large;
  font-weight: 700;
}

.slider {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.slides {
  display: flex;
  animation: slide-animation 8s infinite;
}

.product {
  flex: 0 0 100%;
  text-align: center;
  padding: 1rem;
}

.product img {
  width: 100%;
  max-width: 400px;
  height: 400px;
  margin: 0 auto;
  display: block;
  border-radius: 8px;
}

.product h3 {
  padding: 20px;
}

@keyframes slide-animation {
  0%,
  33.33% {
    transform: translateX(0);
  }
  33.34%,
  66.66% {
    transform: translateX(-100%);
  }
  66.67%,
  100% {
    transform: translateX(-200%);
  }
}

.testimonial {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  color: var(--bg-main);
}

.testimonial h2 {
  align-items: center;
  justify-content: center;
  color: var(--accent-deep);
}

.testimonial-card {
  background-color: var(--accent-deep);
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.testimonial-card p {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.testimonial-card .author {
  font-weight: bold;
  text-align: right;
  font-size: 0.9rem;
}

/* Bio */
.bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 1rem;
  color: var(--accent-deep);
}

.bio img {
  width: 400px;
  height: 400px;
}

.bio-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.bio-text h2 {
  padding: 20px;
}

/* Footer */
footer {
  grid-area: footer;
  background-color: var(--accent-deep);
  color: var(--bg-main);
  text-align: center;
  padding: 20px;
}

footer i {
  padding: 0.675rem;
}


@media (min-width: 675px) {
  .container {
    grid-template-areas:
      "navbar main"
      "navbar footer";
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr auto;
  }

  .navbar {
    flex-direction: column;
    position: fixed;
    height: 100vh;
    width: auto;
    justify-content: flex-start;
    padding: 20px;
  }

  .navbar .nav-links {
    flex-direction: column;
    gap: 10px;
  }

  .navbar .logo img {
    height: 53px;
  }

  main {
    margin: 0;
  }

  .product {
    flex: 0 0 33.33%;
  }

  .product img {
    height: auto;

  }

  .testimonial {
    grid-template-columns: repeat(3, 1fr);
  }

  .bio {
    flex-direction: row;
    align-items: center;
  }

  .bio img {
    width: 400px;
    height: 400px;
  }
  
  .bio-text {
    text-align: left;
  }

}


